.alert {
    background-color: var(--alert-default-background);
    color: var(--alert-default-color);
    border: 1px solid var(--alert-default-color);

    padding: 1em;
    margin: 5px 0;
}

.alert.warning {
    background-color: var(--alert-warning-background);
    color: var(--alert-warning-color);
    border: 1px solid var(--alert-warning-color);
}

.alert.error {
    background-color: var(--alert-error-background);
    color: var(--alert-error-color);
    border: 1px solid var(--alert-error-color);
}