.page {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.page .sidepanel {
    width: 24%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 6em;

    position: absolute;

    padding: 1.5em 1em;

    border-right: 1px solid gray;
    background-color: var(--background);
}

.page .content {
    width: 76%;
    margin-left: 24%;
}

.page .info-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page .info-text .contacts {
    display: flex;
    justify-content: center;
    padding: 0 0em;
}

.page hr {
    margin: 1em;
    opacity: 0.6;
}

.page .info-text span {
    font-weight: bolder;
}

.page .sidepanel .managers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.page .sidepanel .info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.page .content {
    padding: 3em;
}

@media screen and (max-width: 767px){

    .page {
        position: inherit !important;
        display: inherit !important;
    }

    .page .sidepanel {
        width: 100% !important;
        position: relative;
        height: auto;
    }

    .page .content {
        width: 100% !important;
    }

    .page .content {
        padding: 1.9em;
        margin-left: 0 !important;
    }

    .info-text {
        align-items: center;
    }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
    .page .sidepanel {
        width: 30%;
    }

    .info-text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .page .content {
        margin-left: 30% !important;
    }
}